<h2 style="text-align: center">Edit Task</h2>

<form
  [formGroup]="addTask"
  (submit)="onSubmit()"
  style="
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    gap: 20px;
  "
  class="card"
>
  <section style="display: grid">
    <label for="title">Title : </label>
    <input
      class="form-control {{
        title.touched && title.errors
          ? 'is-invalid'
          : title.valid
          ? 'is-valid'
          : ''
      }}"
      type="text"
      style="padding: 2%; font-size: large"
      formControlName="title"
    />
    @if(title.errors && (title.touched || title.dirty)){
    <span class="text-danger">Title is required</span> }
  </section>
  <section style="display: grid">
    <label for="description">Description : </label>
    <textarea
      class="form-control {{
        description.touched && description.errors
          ? 'is-invalid'
          : description.valid
          ? 'is-valid'
          : ''
      }}"
      type="text"
      style="padding: 2%; font-size: large"
      formControlName="description"
    ></textarea>
    @if(description.errors && (description.touched || description.dirty)){
    <span class="text-danger">Description is required</span> }
  </section>
  <button class="btn btn-primary" type="submit" [disabled]="addTask.invalid">
    Update
  </button>
</form>
